<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="ISO-8859-1"/>
        <title>Pages link</title>
    </head>
    <body>
        <br><br>
        <a th:href="@{/views/user}">User registration</a> (http://localhost:8080/views/user)<br><br>
        <a th:href="@{/views/escooter}">EScooter registration</a> (http://localhost:8080/views/escooter)<br><br>
        <a th:href="@{/views/ride-registration}">Ride registration</a> (http://localhost:8080/views/ride-registration)<br><br>
        <a th:href="@{/dashboard/ride}">Ride Dashboard</a> (http://localhost:8080/dashboard/ride)<br><br>
    </body>
</html>