<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <title>EScooterSystem - Ride Registration</title>
</head>
<body>
<h2>EScooterSystem - Ride Registration</h2>
<form th:action="@{/api/rides}" th:object="${ride}" method="post">
    <p>
        <label for="user-id">User ID:</label><br>
        <input type="text" id="user-id" th:field="*{userId}" value="wwhitman" th:placeholder="wwhitman"><br><br> <!-- TODO th:field="*{user}" -->
        <label for="escooter-id">EScooter ID:</label><br>
        <input type="text" id="escooter-id" th:field="*{escooterId}" value="escooter-01" th:placeholder="escooter-01"><br><br>
        <label for="ride-id">Ride ID:</label><br>
        <input type="text" id="ride-id" th:field="*{id}" value="ride-01" th:placeholder="ride-01"><br><br>
        <button type="submit" id="submit">Start ride</button><br>
    </p>
</form>
<br><br>
<form th:action="@{/api/rides/end}" method="get">
    <p>
        <label for="ride-id-end">Ride ID:</label><br>
        <input type="text" id="ride-id-end" name="id" placeholder="ride-01"><br><br>
        <button type="submit" id="submit-end">End ride</button><br>
    </p>
</form>
<p th:id="result"></p>
</body>
</html>
