<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>EScooterSystem - Ride Dashboard</title>
</head>
<body>
<h2>EScooterSystem - Ride Dashboard</h2>

<form th:action="@{/api/rides}" method="post">
    <p>
        <label>User id:</label><br>
        <input type="text" id="userId" th:value="aricci"><br><br>
        <label>EScooter id:</label><br>
        <input type="text" id="escooterId" th:value="escooter-01"><br><br>
        <button id="startRide" type="submit">Start Ride</button> <br>
    <p id="startRideResult"></p>
    </p>
</form>

<br><br>

<form th:action="@{'/api/rides/' + ${ride.id} + '/end'}" th:object="${ride}" method="get">
    <p>
        <label>Ride id:</label><br>
        <input type="text" id="rideId" th:field="*{id}" th:value="ride-01" th:placeholder="ride-01"><br><br>
        <button id="endRide" type="submit">End Ride</button><br>
    <p id="endRideResult"></p>
    </p>
</form>

<br><br>

<p>
    <label>Num Ongoing Rides:</label>
<p th:id="numOngoingRides">--</p>
</p>

<script th:inline="text">
    async function postData(url = "", data = {}) {
        // Default options are marked with *
        const response = await fetch(url, {
            method: "POST",
            mode: "cors",
            cache: "no-cache",
            credentials: "same-origin",
            headers: {
                "Content-Type": "application/json",
            },
            redirect: "follow",
            referrerPolicy: "no-referrer",
            body: JSON.stringify(data),
        });
        return response.json();
    }

    async function startRideRequest() {
        const reply = await postData("http://localhost:8081/api/rides", {
            userId: document.getElementById("userId").value,
            escooterId: document.getElementById("escooterId").value,
        });

        if (reply.result == 'ok') {
            document.getElementById("startRideResult").innerHTML = "OK - ride id " + reply.rideId;
        } else {
            document.getElementById("startRideResult").innerHTML = "NOT OK.";
        }
    }

    document.getElementById("startRide").addEventListener("click", () => {
        startRideRequest();
    });

    async function endRideRequest(rideId) {
        const reply = await postData("http://localhost:8081/api/rides/" + rideId + "/end", {});
        console.log(reply);
        if (reply.result == 'ok') {
            document.getElementById("endRideResult").innerHTML = "OK - ride ended. ";
        } else {
            document.getElementById("endRideResult").innerHTML = "NOT OK.";
        }
    }

    document.getElementById("endRide").addEventListener("click", () => {
        endRideRequest(document.getElementById("rideId").value);
    });

    const rideMonitoringSocket = new WebSocket("ws://localhost:8081/api/rides/monitoring");
    rideMonitoringSocket.onmessage = (event) => {
        const ev = JSON.parse(event.data);
        if (ev.event == "num-ongoing-rides-changed") {
            //document.getElementById("numOngoingRides").innerHTML = ev.nOngoingRides;
        }
    };
</script>
</body>
</html>
